<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <a class="navbar-brand" [routerLink]="['/home']">
    <img src="../assets/images/logo/logoRegGreyVertical.png" alt="Council Search">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" class="mx-2 nav-item"><a class="nav-link" [routerLink]="['/search']">Search</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="mx-2 nav-item"><a class="nav-link" [routerLink]="['/beta']">Alerts</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="mx-2 nav-item"><a class="nav-link" [routerLink]="['/contact']">Contact</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- banner -->
<div *ngIf="displayBetaSignUp" class="banner">
  <div class="banner-wrapper banner-glow">
    <div class="row">
      <div class="col-xl-12">
        <div class="banner-header">
          <span (click)="closeBetaDisplay()" class="banner-close-btn" ><i class="fa fa-times"></i></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <b>Alerts - <i>Beta</i></b>
        <hr>
      </div>
      <div class="col-xl-12">
        <div class="banner-content">
          <span>Sign up for the beta release of our nightly notification tool</span>
          <br>
          <a id="joinBtn" class="btn btn-darker" [routerLink]="['/beta']">
            <span>Join Waitlist!</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
