.overlay {
  background: linear-gradient(180deg, #050429, #151350);
}

.slider-zone {
  bottom: 50%;
  background: url(../../assets/images/banner.png);
  height: 87vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.slider-zone .one-slider {
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat
}

.slider-zone .one-slider .slider_text h3 {
  color: #fff;
  font-size: 60px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px
}

@media (max-width:767px) {
  .slider-zone .one-slider .slider_text h3 {
    font-size: 35px;
    letter-spacing: 0
  }
  .slider-zone .one-slider .slider_text h4 {
    font-size: 20px;
    letter-spacing: 0
  }
}

@media (min-width:768px) and (max-width:991px) {
  .slider-zone .one-slider .slider_text h3 {
    font-size: 50px
  }
  .slider-zone .one-slider .slider_text h4 {
    font-size: 25px;
    letter-spacing: 0
  }
}

.slider-zone .one-slider .slider_text p {
  font-size: 18px;
  font-weight: 400;
  color: #00d363;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
  position: relative
}

@media (min-width:992px) and (max-width:1200px) {
  .slider-zone .one-slider .slider_text p {
    font-size: 16px
  }
}

@media (max-width:767px) {
  .slider-zone .one-slider .slider_text p {
    font-size: 13px
  }
}

.navbar-transparent {
  background: transparent;
}
